{% extends 'base.html'%}
{% load static %}
<html>

<head>
  <title>About Afrah hardian</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'Afrahsapp/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Libre+Baskerville" rel="stylesheet">
</head>

<body class = "theBody">

  {% block content%}

  <div class = "jumbotron aboutHeader">
      <p class="text-left">Learn more about me, Afrah Hardian.</p>
  </div>

    <div class="jumbotron funFact">
      <div class = "row">
        <div class = "col-sm-3">
        <p class="text-left">Fun Facts: </p>
      </div>
      </div>

      <div class = "row">
        <p class="text-center">I have the basics of Australian Sign Language and
              my favourite pizza topping is pepperoni AND pineapple.</p>
      </row>
    </div>
  </div>

  <div class = "jumbotron description">
    <div class = "row">
      <div class = "col-sm-3">
    <p class="text-left">Description:</p>
  </div>
  </div>

    <div class = "row">
      <p class="text-center">I was born on 24th May 1999 in Jakarta, Indonesia. I am currently
  an active student in University of Indonesia studying Computer Science.
  My things I like to enjoy are reading books, watching TV series, and listening to music.</p>
    </div>
  </div>

  <div class = "jumbotron skills">
    <div class = "row">
      <div class = "col-sm-3">
    <p class="text-left">Skills:</p>
  </div>
  </div>

  <div class = "row">
    <p class="text-center">Raised in Brisbane, Australia untill  I was 12, I am fluent in English.
I mastered fundamental skills in both Python and Java
I dabble in book and article writing in my free time.</p>
  </div>
  </div>

  <div class = "jumbotron achievements">
    <div class = "row">
      <div class = "col-sm-3">
    <p class="text-left">Achievements and Experiences:</p>
  </div>
  </div>
  <div class = "row">
      <p class="text-center">Became a writer for my High School's website
Volunteered in Asian Games and tutored English and Math
Played and performed in a band for three years</p>
    </div>
  </div>



{% endblock content %}
</body>
</html>
