{% extends 'base.html'%}
{% load static %}
<html>
 <head>
   <title>Contact Afrah Hardian</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel = "stylesheet" type = "text/css" href = "{% static 'Afrahsapp/main.css' %z">

 </head>

 <body class = "theBody">

   {% block content%}

 <div class = "jumbotron contactBackground">
   <div class = "row">
     <div class = "col-sm-1"></div>
     <div class = "col-sm-4">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Contact</h5>
    <p class="card-text">Email: afrah@hardian.org</p>
    <a href="https://www.instagram.com/afrahhardian/" class="card-link">Instagram</a>
    <a href="https://twitter.com/afrahhardian" class="card-link">Twitter</a>
  </div>
</div>
</div>
</div>
 </div>

{% endblock content %}
</body>


</html>
