{% extends 'base.html'%}
{% load static %}
<html>
<head>
  <title>Form Afrah Hardian</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'Afrahsapp/main.css' %}">
</head>

<body class = "theBody">

  {% block content%}


<div class="jumbotron form">
    <h1 class="text-left">Subscribe</h1>
</div>

<div class = "jumbotron fill">
  <div class = "row">
    <div class = "col-sm-2"></div>
    <div class = "col-sm-8">
      <form class = "thisform">
        {% csrf_token %}
        {{ form }}
        <button disabled = "disabled" id = "submit">Submit</button>
    </form>
    </div>
  </div>
</div>

<script src="{% static 'Afrahsapp/jsmysite.js' %}"></script>
{% endblock content %}
</body>


</html>
