{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Afrah Hardian</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'Afrahsapp/main.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class = "theBody">

  {% block content%}



<div class = "container-fluid headerIntro">
  <h2 class = "text-center">You have reached Afrah Hardian!</h2>
</div>

<div class = "jumbotron intro">
  <div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-3">
      <img class = "picMe" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41953631_1257174804425762_6697810470851575808_o.jpg?_nc_cat=0&oh=5efbc4411e46b9bde69d48052b63fb2d&oe=5C1C0D5A" width="412.24" height="392" class="img-thumbnail">
    </div>
    <div class = "col-sm-1"></div>
    <div class = "col-sm-2">
        <div class = introText>
        <p class = "text-center"><b>This is Afrah Hardian's personal profile website. Want to learn more? Click <a href = "/about">Here</a></b></p>
      </div>
    </div>
    <div class = "col-sm-2"></div>
  </div>

</div>




<div class="jumbotron quote">
  <p class="text-center">"If you have the will to wake up every morning, then you have the strength to do anything"</p>
</div>



{% endblock content %}
</body>




</html>
