{% extends 'base.html'%}
{% load static %}
<html>
<head>
  <title>Photos Afrah Hardian</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'Afrahsapp/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>


<body class = "theBody">

  {% block content%}

<div class = "jumbotron galleryHeader">
  <p class = "text-left"><b>Gallery</b></p>
</div>

<div class = "jumbotron gallery">

  <figure class="gallery-item">
        <img class = "thumbnail" src = "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42059306_1257947491015160_4015646503086325760_o.jpg?_nc_cat=107&oh=6af34b7729cbc000d19f6ac624c8aeee&oe=5C20390D" width="448px" height="298.67">
  </figure>
  <figure class = "gallery-item">
    <img class = "thumbnail" src = "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42140347_1257956121014297_5737452210053185536_o.jpg?_nc_cat=102&oh=3d4a72bbfe321986dbefd61a8a6fc2c9&oe=5C21EF19" width="530px" height="298.67">
  </figure>
  <figure class = "gallery-item">
    <img class = "thumbnail" src = "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42160640_1257962764346966_2068296824862539776_o.jpg?_nc_cat=106&oh=6aa2167f44f83ae797c5fc60b9d1bc73&oe=5C306EF7" width = "530px" height = "298.24px">
  </figure>
  <figure class = "gallery-item">
    <img class = "thumbnail" src = "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42196849_1257966787679897_9065595893545172992_o.jpg?_nc_cat=109&oh=17fd12290c5b2be189182e8692099758&oe=5C30E076" width = "518.91px" height = "292px">
  </figure>


</div>




{% endblock content %}
</body>
</html>
