.theBody{
  margin:0px;
}

.jumbotron{
  border-radius: 0;
}

.topnav{
  background-color: #343F4B;
  overflow: hidden;
  margin-bottom: 0 !important;
}
.topnav a{
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #FFFFFF;
  color: black;
}


.headerIntro{
  height: 670px;
  width: 100%;
  background-image: url(https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41992114_1257146361095273_8612485966327709696_o.jpg?_nc_cat=0&oh=ae30e31c7092e4cf9f653c3848274e86&oe=5C27402C);
  margin-top: 0px !important;
  background-position: center;
}

.headerIntro .text-center{
  position: relative;
  top: 45%;
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  margin: 0px;

}

.intro{
  margin: 0;
  background-color: #343F4B;

}


.picMe{
  border-radius: 50%;
}

.thisIsHome{
  width: 400px;
}

.introText{
  height: 100px;
  width: 732px;
  position: relative;
  top: 20%;

}


.intro .text-center{
  font-size: 40px;
  font-family: 'Merriweather', serif;
  color: white;
  text-align: center;
  margin:4%;
}

.aboutbutton{
  background-color: #FFFFFF;
  color: #343F4B;
  height: 58px;
  width: 199px;
  font-family: 'Merriweather', serif;
  font-size: 29px;
}
.quote{
  background-color: #FFFFFF;
}

.quote p{
  font-size: 45px;
  font-family: 'Merriweather', serif;
  color: #47525E;
  margin: 0;
  text-align: center;
}




.aboutHeader{
  width: 100%;
  height: 689.23px;
  background-image: url(https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42182182_1257773391032570_5015179267965714432_o.jpg?_nc_cat=107&oh=c888ac5215d53d40b9c79fe778ef7466&oe=5C169F0D);
  margin:0 ;
}

.learnMoreContainer{
  width: 600px;
  height: 129px;
  margin: 0;
  position:relative;
  left: 160px;
  top: 259px;

}

.aboutHeader .text-left{
  font-size: 45px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin: 0px;
  color: #FFFFFF;
  position: relative;
  top: 32%;
  left: 6%;
}

.funFact{
  margin:0;
  background-color:#343F4B;
  /* display: flex; */

}

.funFact .text-left{
  margin: 0;
  font-family: 'Francois One', sans-serif;
  font-size: 41px;
  color: white;
  text-align: center;
}


.funFact .text-center{
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 31px;
  margin: 4%;
}

.description{
  margin: 0;
  background-color: #FFFFFF;
}

.description .text-left{
  margin: 0;
  font-family: 'Francois One', sans-serif;
  font-size: 41px;
  color: #343F4B;

}

.description .text-center{
  color: #343F4B;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 31px;
  margin: 4%;
}

.skills{
  margin:0;
  background-color:#343F4B;
}

.skills .text-left{
  margin: 0;
  font-family: 'Francois One', sans-serif;
  font-size: 41px;
  color: white;

}

.skills .text-center{
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 31px;
  margin: 4%;
}

.achievements{
  margin: 0;
  background-color: #FFFFFF;
}
.achievements .text-left{
  margin: 0;
  font-family: 'Francois One', sans-serif;
  font-size: 41px;
  color: #343F4B;
}

.achievements .text-center{
  color: #343F4B;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 31px;
  margin: 4%;
}

.contactBackground{
  background-image: url(https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42059557_1257391691070740_3863763918195261440_o.jpg?_nc_cat=104&oh=2e71e1c6e0e53aa1a375e5f40d67bb43&oe=5C2B266D);
  width: 100%;
  height: 920px;
}

.contactBackground .row{
  position: relative;
  top: 20%;
}


.galleryHeader{
  background-color: white;
}

.galleryHeader .text-left{
  font-family: "Merriweather", serif;
  color: #343F4B;
  font-size: 50px;
  margin: 0px;
  position: relative;
  left: 5%
}

.gallery{
  background-color: #343F4B;
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item{
  margin: 20px;
}

.gallery-item .thumbnail{
  border: 5px solid #FFF;
}

.galleryitem1{
  border: 5px solid #FFF;
  position: absolute;
  left:649px;
  top: 301px;
}

.galleryitem2{
  border: 5px solid #FFF;
  position: absolute;
  left:119px;
  top: 680px;
}
.galleryitem3{
  border: 5px solid #FFF;
  position: absolute;
  left:804px;
  top: 680px;
}

.formHome{
  margin:0px;
}



.form .text-left{
  font-family: "Merriweather", serif;
  color: black;
  font-size: 50px;
  margin: 0;
}
